__pycache__
*.pyc
src/TestAntLR.py

.idea/.name

.idea/antlr4-python3.iml

.idea/encodings.xml

.idea/inspectionProfiles/profiles_settings.xml

.idea/misc.xml

.idea/scopes/scope_settings.xml

.idea/modules.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/vcs.xml

.idea/workspace.xml
