# ignore Visual Studio user files
*.suo
*.csproj.user
*.sln.cache

# Ignored testing and profiling files
TestResults/
*.vsp
*.testsettings

# Roslyn Cache
*.sln.ide/

# ignore C# build directories
[Dd]ebug/
[Rr]elease/
reference/.metadata/
reference/antlr4.net/
/runtime/CSharp/packages/

# ignore Java (Maven) build directory
tool/target/

# ignore NuGet output folders
/build/nuget/

runtime/CSharp/Antlr4.Runtime/Atn/ATNSerializer.cs
