sudo: true

language: java

matrix:
  include:
    - os: linux
      compiler: clang
      jdk: openjdk7
      env:
        - TARGET=cpp
        - CXX=g++-5
        - GROUP=ALL
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-precise-3.7
          packages:
            - g++-5
            - uuid-dev
            - clang-3.7
    - os: osx
      compiler: clang
      osx_image: xcode8.1
      env:
        - TARGET=cpp
        - GROUP=LEXER
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-precise-3.7
          packages:
            - g++-5
            - uuid-dev
            - clang-3.7
    - os: osx
      compiler: clang
      osx_image: xcode8.1
      env:
        - TARGET=cpp
        - GROUP=PARSER
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-precise-3.7
          packages:
            - g++-5
            - uuid-dev
            - clang-3.7
    - os: osx
      compiler: clang
      osx_image: xcode8.1
      env:
        - TARGET=cpp
        - GROUP=RECURSION
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-precise-3.7
          packages:
            - g++-5
            - uuid-dev
            - clang-3.7
    - os: osx
      compiler: clang
      osx_image: xcode8.1
      env:
        - TARGET=swift
        - GROUP=LEXER
    - os: osx
      compiler: clang
      osx_image: xcode8.1
      env:
        - TARGET=swift
        - GROUP=PARSER
    - os: osx
      compiler: clang
      osx_image: xcode8.1
      env:
        - TARGET=swift
        - GROUP=RECURSION
    - os: linux
      compiler: clang
      env:
       - TARGET=swift
       - GROUP=ALL
    - os: osx
      osx_image: xcode8.2
      env:
        - TARGET=dotnet
        - GROUP=LEXER
    - os: osx
      osx_image: xcode8.2
      env:
        - TARGET=dotnet
        - GROUP=PARSER
    - os: osx
      osx_image: xcode8.2
      env:
        - TARGET=dotnet
        - GROUP=RECURSION
    - os: linux
      jdk: openjdk7
      env: TARGET=java
    - os: linux
      jdk: oraclejdk8
      env: TARGET=java
    - os: linux
      jdk: openjdk7
      env: TARGET=csharp
    - os: linux
      jdk: oraclejdk8
      dist: trusty
      env:
        - TARGET=dotnet
        - GROUP=LEXER
    - os: linux
      jdk: oraclejdk8
      dist: trusty
      env:
        - TARGET=dotnet
        - GROUP=PARSER
    - os: linux
      jdk: oraclejdk8
      dist: trusty
      env:
        - TARGET=dotnet
        - GROUP=RECURSION
    - os: linux
      jdk: openjdk7
      env: TARGET=python2
    - os: linux
      jdk: openjdk7
      env: TARGET=python3
      addons:
        apt:
          sources:
            - deadsnakes # source required so it finds the package definition below
          packages:
            - python3.5
    - os: linux
      jdk: openjdk7
      env: TARGET=javascript
    - os: linux
      jdk: openjdk7
      env: TARGET=go

before_install:
  - ./.travis/before-install-$TRAVIS_OS_NAME-$TARGET.sh

script:
  - cd runtime-testsuite; ../.travis/run-tests-$TARGET.sh

