sudo: true
language: java
os:
  - linux
  - osx
script:
  - mvn -Dparallel=methods -DthreadCount=4 install

jdk:
  - oraclejdk7
  - oraclejdk8

before_install:
  - if [[ $TRAVIS_OS_NAME == osx ]]; then ./travis/before_install-macos.sh; fi
  - if [[ $TRAVIS_OS_NAME == linux ]]; then ./travis/before_install-linux.sh; fi

env:
  - CXX=g++-5

compiler:
  - clang

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - llvm-toolchain-precise-3.7
    packages:
      - g++-5
      - uuid-dev
      - clang-3.7
