name: Windows

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: [self-hosted, windows, x64]
    strategy:
      fail-fast: false
      matrix:
#       TARGET: [java, cpp, csharp, dart, go, javascript, php, python2, python3]
        TARGET: [java, python2, python3, javascript, csharp, dart, go]
#        TARGET: [go]
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Set up Maven
      uses: stCarolas/setup-maven@v4
      with:
        maven-version: 3.5.4    
#     fails due to permissions, use global install
#    - name: Set up Python 2
#      uses: actions/setup-python@v2
#      with:
#        python-version: '2.x' 
#        architecture: 'x64' 
#     fails due to permissions, use global install
#    - name: Set up Python 3
#      uses: actions/setup-python@v2
#      with:
#        python-version: '3.x' 
#        architecture: 'x64' 
    - name: Set up Node 14
      uses: actions/setup-node@v2
      with:
        node-version: '14'
    - name: Setup Dotnet 3.1
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x
#     fails due to os (Linux only), use global install
#    - name: Setup Dart 2.12.1
#      uses: dart-lang/setup-dart@v1
#      with:
#        sdk: 2.12.1
    - name: Setup Go 1.13.1
      uses: actions/setup-go@v2
      with:
        go-version: '^1.13.1' 
    - name: Build tool with Maven
      run: mvn install -DskipTests=true -Darguments="-Dmaven.javadoc.skip=true" -B -V
    - name: Test with Maven
      run: .github/scripts-windows/run-tests-${{ matrix.TARGET }}.cmd
      env:
        TARGET: ${{ matrix.TARGET }}
